<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <h1 style="text-align:center;"><a href="/movies">MOVIES</a></h1>
    <h1 style="text-align:center;"><a href="/actors">ACTORS</a></h1>
  </body>
</html>
