<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actors</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div style="float:right;">
    <form action="/search/movies" method="get">
        <label for="query_m">Search Movies: </label>
        <input type="text" name="query_m" id="query_m" />
        <input type="submit" value="Search" />
    </form>
    <form action="/search/actors" method="get">
        <label for="query_a">Search Actors: </label>
        <input type="text" name="query_a" id="query_a" />
        <input type="submit" value="Search" />
    </form>
    </div>
    <p><a href="/movies">Back to movies</a></p>
    <p><a href="/actors">Back to actors</a></p>
        <h1><%= @actor.first['name'] %></h1>
        <ol>
        <% @actor.each do |actor| %>
            <li><a href="/movies/<%="#{actor['movie_id']}"%>"><%= actor['title'] %></a>
                <ul>
                    <li><%= actor['character']%></li>
                </ul>
            </li>
        <%end%>
        </ol>
  </body>
</html>
